aiofiles==24.1.0
aiogram==3.15.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
attrs==25.1.0
beautifulsoup4==4.12.3
behave==1.2.6
blinker==1.9.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cssselect==1.2.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
execnet==2.1.1
fake-useragent==2.0.3
fasteners==0.19
filelock==3.16.1
Flask==3.1.0
Flask-Cors==5.0.0
frozenlist==1.5.0
future==1.0.0
h11==0.14.0
idna==3.10
ImageScraper==2.0.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
loguru==0.7.2
lxml==5.3.0
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.1.0
mycdp==1.0.1
numpy==2.2.1
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parameterized==0.9.0
parse==1.20.2
parse_type==0.6.4
pdbp==1.6.0
platformdirs==4.3.6
pluggy==1.5.0
propcache==0.2.1
py==1.11.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pynose==1.5.3
pyotp==2.9.0
PySocks==1.7.1
pyTelegramBotAPI==4.26.0
pytest==8.3.3
pytest-html==2.0.1
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==14.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
sbvirtualdisplay==1.3.0
selenium==4.28.1
seleniumbase==4.32.7
setproctitle==1.3.3
setuptools==75.3.0
SimplePool==0.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
tabcompleter==1.4.0
telebot==0.0.5
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
undetected-chromedriver==3.5.5
urllib3==2.3.0
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wheel==0.44.0
wsproto==1.2.0
yarl==1.18.3
